<!DOCTYPE html>
<html>
 
<head>
    <title></title>
</head>
 
<body>
	<h1>{{operationTitle}}</h1>
    <form id="{{operation}}" name="{{operation}}" method="post" action="{{operation}}">
        <label for="amount">Cantidad</label>
        <input class="text" name="amount" type="text" />
        <input class="btn" type="submit" value={{bname}} />
    </form>
    <h3>{{message}}</h3>
    <a href="/dashboard">Volver</a>
 
</body>
 
</html>